@keyframes rotate {
    from {
        transform: rotatez(0deg);
    }

    to {
        transform: rotatez(360deg);
    }
}
.<%= humpName %>  {
    @apply nt-cursor-pointer nt-h-32 nt-flex nt-items-center nt-px-20 nt-text-14 nt-rounded-8;
    button{
        @apply nt-flex nt-cursor-pointer nt-h-32 nt-items-center nt-px-20 nt-text-14 nt-rounded-8;
    }
    .<%= humpName %>-loading {
        @apply nt-rounded-50%  nt-w-10 nt-h-10 nt-mr-10 nt-border nt-border-solid nt-border-white;
        clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 30%);
        animation: rotate 0.5s linear infinite;
    }
}


.<%= humpName %>-primary {
    @apply nt-bg-blue-500 nt-text-white hover:nt-bg-blue-400;
}