@keyframes rotate {
    from {
        transform: rotatez(0deg);
    }

    to {
        transform: rotatez(360deg);
    }
}
.<%= humpName %>  {
    @apply tf-cursor-pointer tf-h-32 tf-flex tf-items-center tf-px-20 tf-text-14 tf-rounded-8;
    .<%= humpName %>-loading {
        @apply tf-rounded-50%  tf-w-10 tf-h-10 tf-mr-10 tf-border tf-border-solid tf-border-white;
        clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 30%);
        animation: rotate 0.5s linear infinite;
    }
}


.<%= humpName %>-primary {
    @apply tf-bg-blue-500 tf-text-white hover:tf-bg-blue-400;
}