@keyframes rotate {
	from {
		transform: rotatez(0deg);
	}

	to {
		transform: rotatez(360deg);
	}
}
.nfe-button {
	@apply nt-cursor-pointer nt-h-32 nt-flex nt-items-center nt-px-20 nt-text-14 nt-rounded-8 nt-border-0;
	.nfe-button-loading {
		@apply nt-rounded-50%  nt-w-10 nt-h-10 nt-mr-10 nt-border nt-border-solid nt-border-white;
		clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 30%);
		animation: rotate 0.5s linear infinite;
	}
}

.nfe-button-primary {
	@apply nt-bg-blue-500 nt-text-white hover:nt-bg-blue-400;
}

.nfe-button-default {
	@apply nt-bg-gray-600 nt-text-white hover:nt-bg-gray-500;
}
.nfe-button-info {
	@apply nt-bg-white nt-border hover:nt-bg-blue-200 hover:nt-text-blue-500;
}
.nfe-button-success {
	@apply nt-bg-green-500 nt-text-white hover:nt-bg-green-400;
}
